	<div class="jumbotron">
        <div class="euromap thumbnail">

        </div>
    </div>
    <div class="neighborhood-guides">
        <div class="container">
            <h2>Pick a location</h2>
            <p>Not sure where to go? We've created guides for cities all around the world.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="Images/stockholm.jpg">
                        <div class="caption post-content">
                            <h3>Stockholm</h3>
                            <p>Home of the meatballs!</p>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img src="Images/berlin.jpg">
                        <div class="caption post-content">
                            <h3>Berlin</h3>
                            <p>Fall in line!!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="Images/brussels.jpg">
                        <div class="caption post-content">
                            <h3>Brussels</h3>
                            <p>Is it Dutch??Is it French??</p>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <img src="Images/paris.jpg">
                        <div class="caption post-content">
                            <h3>Paris</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="Images/london.jpg">
                        <div class="caption post-content">
                            <h3>London</h3>
                            <p>Cheerio! Governor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="Images/budapest.jpg">
                        <div class="caption post-content">
                            <h3>Budapest</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Travelling</h3>
                    <p>From the fjords of Norway to the floating houses of Venice Explore unique locations accross Europe.</p>
                    <p><a href="#">Learn More</a></p>
                </div>
                <div class="col-md-4">
                    <h3>Robots!!</h3>
                    <p>Lorem ipsum dolor sit amet, moderatius complectitur at eam, sed illum error no. Explicari interesset an nec, his liber harum delenit at. Ex omnesque iracundia nec. Est modus repudiandae ex. In dicit impedit corpora nec, ut est assum vituperata.</p>
                    <p><a href="#">Learn more </a></p>
                </div>
                <div class="col-md-4">
                    <h3>Trust and Safety</h3>
                    <p>Get in touch with our worldwide customer support team, we've got your back.</p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>