*{
	font-family: 'lato',serif;
}
body {
}
.learn-more {
	margin: 50px auto;
  	background-color: #f7f7f7;
}
.learn-more h3 {
	font-size: 24px;
	font-weight: bold;
}
.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides{
    margin-top: 50px;
    background-color:#efefef;
    border-bottom: 1px solid #dbdbdb;
}
.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}
.neighborhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}
.thumbnail img{
    height:240px;
    width: 100%;
}
.post-content {
    top: 0px;
    left: 0px;
    position: absolute;
}
.post-content h3, .post-content p{
    color: white;
    font-size: 30px;
}
.post-content p{
    font-size: 20px;
}
.thumbnail{
    position:relative;
}